@import "../../styles/variables.scss";

.SignInDialogFooterLink {
  color: $main;
  display: block;
  text-decoration: none;
  font-size: 14px;
  &:first-child {
    margin-bottom: 15px;
  }
}

.SignInDialogFooterLinkInline {
  color: $main;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  margin: 0;
  margin-bottom: 15px;
}
